In [2]:
import sqlite3
import pandas as pd

In [3]:
connection = sqlite3.connect("olist.db")

df_reviews = pd.read_sql_query("SELECT * FROM Reviews", connection)

connection.close()

df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     98410 non-null  object
 4   review_comment_message   98410 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
 7   timestamp_field_7        27 non-null     object
dtypes: int64(1), object(7)
memory usage: 6.0+ MB

In [4]:
# Nettoyage du df reviews

df_reviews = df_reviews.drop(["timestamp_field_7"], axis=1)

df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     98410 non-null  object
 4   review_comment_message   98410 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [5]:
# Gestion des doublons

df_reviews.shape

df_reviews = df_reviews.drop_duplicates(['order_id', "review_score", "review_comment_title", "review_comment_message", "review_creation_date"])

# df_reviews.drop_duplicates(['review_id']).shape

# df_reviews.shape

# df_reviews.shape

In [6]:
# analyse

df_reviews.review_creation_date = pd.to_datetime(df_reviews['review_creation_date'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")
df_reviews.review_answer_timestamp = pd.to_datetime(df_reviews['review_answer_timestamp'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98371 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98371 non-null  object
 1   order_id                 98371 non-null  object
 2   review_score             98371 non-null  int64
 3   review_comment_title     98371 non-null  object
 4   review_comment_message   98371 non-null  object
 5   review_creation_date     98368 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.0+ MB

In [7]:
df_reviews = df_reviews.dropna(subset=['review_creation_date','review_answer_timestamp'])
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98344 entries, 27 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98344 non-null  object
 1   order_id                 98344 non-null  object
 2   review_score             98344 non-null  int64
 3   review_comment_title     98344 non-null  object
 4   review_comment_message   98344 non-null  object
 5   review_creation_date     98344 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.0+ MB

In [8]:
df_reviews.loc[df_reviews['review_answer_timestamp'].isna(),:]['review_score'].value_counts()

Series([], Name: count, dtype: int64)

In [10]:
df_reviews['review_score'].value_counts()
# df_reviews.info()

review_score
5    56866
4    18993
1    11277
3     8095
2     3113
Name: count, dtype: int64